@use "./base/variables" as *;
@use "./base/reset";

body {
  height: 100vh;
  background: linear-gradient(
    -20deg,
    darken($pinkish, 5%) 36%,
    darken($yellowish, 5%) 100%
  );
  background-size: 200% 200%;
  animation-name: colorflow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes colorflow {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#container {
  width: 100%;
  height: 100vh;
}

.circle {
  animation-name: squeeze;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes squeeze {
  0% {
    transform: none;
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: none;
  }
}
